[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "cookbooks/chef-server"]
	path = cookbooks/chef-server
	url = git@github.com:opscode-cookbooks/chef-server.git
